body {
  background: #F7F9FC;
  color: #575F7D;
  font-family: 'raleway', sans-serif;
  font-size: 17px;
  font-weight: medium;
}

h1{
  color: #133b5c;
  font-family: 'raleway', sans-serif;
  font-size: 30px;
}

h2{
  color: #1e5f74;
  font-size: 20px;
  font-family: 'raleway', sans-serif;
}

a:hover {
  color: black;
}

p{
  font-family: 'raleway', sans-serif;
}
.img-prop {
  width: 200px;
  border-radius: 20%;
  box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
}

.btn-blue {
  background-color: #6B72E1;
  color: white;
  padding: 15px 15px;
  border-radius: 16px;
}
.btn-light {
  background-color: #E2E6EA;
  color: blue;
  padding: 15px 15px;
  border-radius: 16px;
}

#logo {
  width: 20px
}

.container{
  background-color: white;
  padding: 40px;
  box-shadow: 0px 10px 30px rgba(0,0,0,0.2);
  border-radius: 8px;
  text-align: center;
  width: 600px;
  margin: 40px auto;
}

.list-inline {
  list-style: none;
  padding-left: 0px;
}

.list-inline li {
  display: inline;
  padding: 10px;
}
.list-inline i {
  font-size: 50px;
  color: rgb(230, 230, 230);
}
.list-inline i:hover {
  color: black;
}



